.dot{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background: $primary;
        width: 5px;
        height: 5px;
        top:40%;
        left:0;
    }
}
.sidebar-sticky{
    position: sticky;
    top: 160px;
    z-index: 1000;
}